/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ece7e8;
    background-color: #aab09d;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

header h1 {
    color:#ece7e8;
    font-size: 65px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #ece7e8;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

header nav {
    margin: 25px;
}

header nav ul li a {
    padding: 15px;
    font-size: 40px;
    margin: 20px 20px;
    font-weight: bold;
}

header nav ul li a:hover {
    background:#ece7e8;
    color: #909878;
    border-radius: 10px;
}

/* hero */
.hero {
    background-color: #909878;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero img {
    height: 200px;
}

/* about me */
.title {
    border-right: 5px solid #ece7e8;
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 48px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-me p {
    font-size: 20px;
    margin-left: 250px;
    padding: 0 30px;
    padding-right: 390px;
    line-height: 1.6;
    width: 80%;
}

/* my work */
.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: #909878;
}

.my-work h2 {
    color: #ece7e8;
}

.projects-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.projects-grid {
    width: 60%;
    display: grid;
    margin-left: -300px;
}

.project {
    border: solid;
    color: #ece7e8;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-position: center;
}

.refactor {
    height: 250px;
    background-image: url(images/refactor.jpg);
}

.project2 {
    background-image: url(images/background.jpeg);
}

.project3 {
    background-image: url(images/background.jpeg);
}

.project4 {
    background-image: url(images/background.jpeg);
}

.project5 {
    background-image: url(images/background.jpeg);
}

.project-background {
    background-color: #aab09d;
    color: #ece7e8;
    padding: 5px;
}

/* footer/contact me */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    margin-bottom: 25px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-size: 25px;
    font-weight: bolder;
}

footer ul li a {
    text-decoration: none;
    color: #ece7e8;
    padding: 10px;
    font-weight: bold;
}

.content-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 290px;
}

#contact-info {
    width: 80%;
    color: #ece7e8;
}


/* query */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 40px;
    }

    header nav {
        margin: 10px;
    }

    header nav ul li a {
        padding: 10px;
        font-size: 30px;
        margin: 10px 10px;
    }

    .title {
        border: none;
        min-width: auto;
        max-width: 100%;
        text-align: left;
        padding-right: 0;
    }

    .about-me p {
        margin-left: 0;
        padding: 0 15px;
        padding-right: 15px;
        width: 100%;
    }

    .projects-grid-wrapper {
        width: 100%;
        margin-left: 0;
    }

    .projects-grid {
        width: 100%;
        margin-left: 0;
    }

    .project {
        justify-content: center;
        align-items: center;
    }

    footer {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    footer ul li a {
        padding: 5px;
        font-size: 20px;
    }

    .content-wrapper {
        padding-right: 15px;
    }

    #contact-info {
        width: 100%;
    }
}

@media (max-width: 575px) {
  
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 40px;
    }

    header nav {
        margin: 15px 0;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li a {
        padding: 10px;
        font-size: 25px;
        margin: 10px 0;
    }

    .hero {
        height: 200px;
    }

    .hero img {
        height: 150px;
    }

    .title {
        border: none;
        min-width: auto;
        max-width: 100%;
        text-align: left;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .about-me p {
        margin-left: 0;
        padding: 0 15px;
        padding-right: 15px;
        width: 100%;
    }

    .my-work {
        flex-direction: column;
        align-items: center;
    }

    .projects-grid-wrapper {
        width: 100%;
        margin-left: 0;
    }

    .projects-grid {
        width: 100%;
        margin-left: 0;
    }

    .project {
        justify-content: center;
        align-items: center;
    }

    footer {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    footer ul li a {
        padding: 5px;
        font-size: 20px;
    }

    .content-wrapper {
        width: 100%;
        padding-right: 15px;
    }

    #contact-info {
        width: 100%;
    }
}